.comment-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.comment-card__img {
  margin-bottom: 40px;
}

.comment-card__text {
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  margin-top: 0;

  &:last-of-type { margin-bottom: 0; }

  @include media-min(md) { font-size: 2.8rem; }
}

.comment-card__author {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.comment-card__avatar {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;

  @include media-min(md) { margin-right: 15px; }
}

.comment-card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comment-card__name {
  font-size: 1.2rem;
  font-weight: 700;

  @include media-min(md) { font-size: 1.8rem; }
}

.comment-card__profession {
  color: var(--color-secondary);
  font-size: 1.5rem;

  @include media-min(md) { font-size: 1.8rem; }
}