.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.form__input {
  color: #18171D;
  font-size: 1.4rem;
  letter-spacing: .1px;
  width: 100%;
  min-height: 54px;
  padding: 10px 35px;
  background-color: #f4f4f4;
  border: 1px solid #e8e8e8;
  border-radius: 38px;
  box-sizing: border-box;

  &:last-child { margin-bottom: 0; }
}

.form__textarea {
  width: 100%;
  padding: 20px;
  min-height: 190px;
  background-color: #f4f4f4;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  resize: none;
}

.form__submit {
  min-height: 54px;
}