.header {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.header__container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  margin-top: -10px;
}

.header__nav {
  @include media-max(lg) { order: 3; }
}

div.header__social {
  @include media-max(md) { display: none; }
  @include media-min(lg) {
    order: 2;
    margin-left: 20px;
  }
}