.header {
  color: var(--color-white);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: .2s;

  &--sticky { background-color: var(--color-primary); }
}

.header__container {
  @include container;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  @include media-min(md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.header__logo {
  margin-top: -10px;
}

.header__nav {
  @include media-max(lg) {
    order: 3;
    margin-left: auto;
  }
}

div.header__social {
  @include media-max(md) { display: none; }
  @include media-min(lg) {
    order: 2;
    margin-left: auto;
  }
}