.nav {
  @include media-max(lg) {
    &--active {
      .nav__toggle-item {
        height: 0;

        &::before {
          transform: translate(0) rotate(45deg);
        }

        &::after {
          width: 28px;
          transform: translate(0) rotate(-45deg);
        }
      }

      .nav__list {
        transform: none;
      }
    }
  }
}

.nav__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  width: 40px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;

  @include media-min(lg) { display: none; }
}

.nav__toggle-item {
  width: 22px;
  height: 3px;
  background-color: currentColor;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: inherit;
    height: 3px;
    background-color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform .2s;
  }
  
  &::before {
    width: 28px;
    transform: translateY(-8px);
  }
  
  &::after {
    width: 14px;
    transform: translateY(8px);
  }
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @include media-max(lg) {
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: var(--color-primary);
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform .2s;

    .nav__item {
      &:first-child { margin-top: auto; }
      &:last-child { margin-bottom: auto; }
    }
  }
  @include media-min(lg) {
    display: flex;
    align-items: center;
  }
}

.nav__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  @include media-max(lg) {
    text-align: center;
    margin-right: 0;
  }
}

.nav__link {
  display: block;
  letter-spacing: .2px;
  padding: 10px;
  position: relative;
  transition: .2s;

  &::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-blue);
    position: absolute;
    top: 100%;
    left: 50%;
    transition: .2s;
  }

  &:hover,
  &:focus-visible {
    &::before {
      width: 100%;
      left: 0;
    }
  }
}