.partners__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 30px;
  list-style: none;
  margin: 80px 0;
  padding-left: 0;
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  min-height: 165px;
  padding: 25px 40px;
  background-color: var(--color-white);
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  transition: .2s;

  &:hover,
  &:focus-visible {
    background-color: #f2f2f2;
  }
}

.partners__link-text {
  color: var(--color-secondary);
  font-size: 1.6rem;
  letter-spacing: .1px;
}

.partners__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}