.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media-min(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section__container {
  @include container;
}

.section__header {
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}

.section__small-text {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: .1;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.section__title {
  font-size: 4.8rem;
  margin-top: 0;
  margin-bottom: 20px;

  &:last-child { margin-bottom: 0; }
}

.section__text {
  color: var(--color-secondary);
  font-size: 2.4rem;
  line-height: 1.5;
  margin-top: 0;

  &:last-of-type { margin-bottom: 0; }
}

.section__button {
  margin-top: 60px;
}