.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  transition: .2s;

  &:last-child { margin-right: 0; }

  &:hover,
  &:focus-visible {
    color: var(--color-blue);
  }
}